body
  margin: 0

.container
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center

.gameboard
  display: grid
  grid-template: repeat(3, 64px) / repeat(3, 64px)
  div
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid
