body
  min-height: 100vh
  margin: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

form
  ul
    padding: 0
    list-style: none

  li
    margin-bottom: 16px

  label
    margin-right: 32px

h1
  text-align: center
  font-style: italic
  font-family: serif
  &.game
    font-family: cursive, serif

button
  width: 50%
  padding: 8px
  color: purple
  font-weight: 600
  cursor: pointer
  &#play
    width: 100%

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 8px

.game-message
  box-sizing: border-box
  min-height: 40px
  background: purple
  color: white
  display: flex
  align-items: center
  justify-content: center
  border-radius: 5px
  font-weight: 600
  &.active
    padding: 0 32px

.match-info,
.game-footer
  width: 100%
  display: flex
  justify-content: space-between
  gap: 32px
  font-weight: 600

.match-info span
  padding: 5px 10px

.active
  &#player1
    background: #0077ff
  &#player2
    background: #00ff77

.gameboard
  width: min(95vw, 500px)
  height: min(95vw, 500px)
  display: grid
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
  margin-bottom: 8px
  border: 3px solid purple
  div
    display: flex
    justify-content: center
    align-items: center
    border: 3px solid purple
